body{
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
 }
 .form-column{
     margin-left: 300px;
     margin-right:300px;
     margin-top: 100px;
 }
 .form-button{
     width:100%;
 }
 .form-register-business{
     margin-top: 150px;
 }
 #registration-description{
     height: 100px;
 }
 .main-image{
     height: 300px;
     width: 100%;
 }
 .businessDetails{
     margin-top:150px;
 }
 .secondary-image{
     height: 200px;
     display: block;
     margin-left: auto;
     margin-right: auto; 
 }
 .review-row{
     margin-left: 90px;
     margin-right: 90px;
     margin-top: 50px;
 }
 .main-row{
    height: 400px;
    background: url("http://www.al-mubarok.com/wp-content/uploads/2016/08/macbook-laptop-computer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }
 .search-row{
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 40px;   
 }
 .businessImage{
     height: 200px;
     display: block;
    margin-left: auto;
    margin-right: auto;
 }
 .more-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 .weConnect{
     font-size: 50px;
     color: black;
     font-family: 'Krona One', sans-serif;
 }
 