body{
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
 }
 .form-column{
     margin-left: 30%;
     margin-right:30%;
     margin-top:3%;
 }
 .form-button{
     width:100%;
 }
 .form-register-business{
     margin-top: 150px;
 }
 #registration-description{
     height: 100px;
 }
 .main-image{
     height: 300px;
     width: 100%;
 }
 .businessDetails{
     margin-top:150px;
 }
 .secondary-image{
     height: 200px;
     display: block;
     margin-left: auto;
     margin-right: auto; 
 }
 .review-row{
     margin-left: 90px;
     margin-right: 90px;
     margin-top: 50px;
 }
 .main-row{
    height: 400px;
    background: url("http://www.al-mubarok.com/wp-content/uploads/2016/08/macbook-laptop-computer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }
 .search-row{
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 40px;   
 }
 .businessImage{
     height: 200px;
     display: block;
    margin-left: auto;
    margin-right: auto;
 }
 .more-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 .weConnect{
     font-size: 70px;
     color: black;
     font-family: 'Source Sans Pro', sans-serif;
 }
 .footer-row{
     height: 5%;
     margin-top:10px;  
     background: #50C9C3;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #96DEDA, #50C9C3);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #96DEDA, #50C9C3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }
 #message-field{
     height:40px;
 }
 .register-business-row{
    margin-left: 20%;
    margin-right: 20%;
 }
 #description{
     height: 100px;
 }
 .info-row{
     height: 50px;
     margin-left:5%;
     margin-right:5%;
     margin-top:20px;
     margin-bottom:20px;  
 }
 .review-row{
     margin-top:5px;
 }

 .businessdetails{
    
     margin-top:10px;
     margin-bottom:10px;
     margin-right:10px;
     margin-left: 10pxl;    
 }